.speech-bubble {
    position: relative;
    background: rgba(255,255,255,0.075);
    border-radius: 5px;
    border-top-left-radius: 0px;
    padding: 0.75rem 1rem 1rem 1rem;
    color: rgba(255,255,255,0.8);
    margin-left: 20px !important;
    max-width: max(80%, 400px);
    line-height: 1.7;
}

.bubble-wrap {
    position:relative;
    display: inline-block;
}

.testimonial-author {
    margin-left: 2rem;
    color: var(--color-accent-5);
}
/* Outer tail (border) */

svg {
    transform: translateZ(0);
    width:20px !important;
    position:absolute;
    left:0px;
    top:0px;
    color: rgba(255,255,255,0.075);
}

