.about-text, .about-title {
    font-size: 1.3vw;
    text-align: justify;
    padding: 1rem;
    padding-top: 0rem;
}

.portrait-container {
    float: right;
    margin: 2rem;
    width: 175px;
    height: 175px;
    margin-right: 2rem;
    margin-top: .5rem;
}

.portrait-caption {
    font-size: .8rem;
    text-align: center;
    margin-top: 0rem;
}

.portrait {
    width: 175px;
    height: 175px;
    border-radius: 2px;
    border: 3px solid var(--background);
}

.about-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between  ;
}