.window {
    box-sizing: border-box;
    --border-thickness: 3px;
    border: var(--border-thickness) solid var(--background);
    background-color: var(--background-alt-light);
    border-radius: 4px;
    padding: 4px;
    mask: conic-gradient(at var(--border-thickness) var(--border-thickness), #000 270deg, rgba(0, 0, 0, 0) 0) 0 0 / calc(100% - var(--border-thickness)) calc(100% - var(--border-thickness));
}

.window-content-wrapper {
    height: calc(100% - 45px);
    overflow: auto;
}


.window.desktop-window {
    position: fixed;
    left: 0;
    bottom: 0;
    transform: scale(0);
    opacity: 0;
}

.window-content p, h1, h2, h3 {
    margin: 0rem;
}

.window.do-transition {
    transition: 0.3s all ease;
    transform-origin: bottom left;
}

.window.display-none {
    display: none
}

.window.hidden { 
    visibility: hidden;
    transition: none !important;
}

.window.open {
  opacity: 1;
  transform: scale(1);
}

.window.fullscreen>.draggable-area:hover {
    cursor: default;
    user-select: none;
}

.window-content {
    margin: auto;
    max-width: 960px;
    box-sizing: border-box;
    padding: 10px;
    padding-bottom: 0px !important;
    height: calc(100% - 42px);
}

.draggable-area {
    background-image: linear-gradient(to right, var(--color-accent-3),  var(--color-accent-2));
    padding: 5px;
    cursor:grab;
    user-select: none;
}

.window-controls.controls {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.controls {
    display: flex;
}
.window-controls {
    display: flex;
    justify-content: space-between;
}
.window-title {
    margin: 0rem;
}

.window-controls button {
    appearance: none;
    font-size: 12pt;
    height: 35px;
    width: 35px;
    cursor: pointer;
    background-color: var(--background-alt);
}

hr {
    border-color: rgba(0,0,0,0.4);
    border-width: 1.5px;
    color: black;
    border-style: solid;
}