.blog-post {
    padding: 0.5rem;
    background-color: var(--surface-active);
    transition: 0.2s all;
}
.blog-posts {
    display: flex;
    gap: 0.25rem;
    flex-direction: column;
}
.blog-post-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.25rem;
}

.blog-post:hover {
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
}

.blog-post-title {
    margin-bottom: 0.2rem;
    text-decoration: underline;
    font-size: var(--text-md);
}

.blog-post-content-preview > * {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.blog-post-content-preview {
    color: var(--on-surface-muted);
    font-size: calc(var(--text-sm) + 1px);
}

.blog-post-date {
    color: var(--on-surface-muted);
    font-size: var(--text-sm);
}

@media (max-width: 1024px) {
    .blog-post-header {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 0.5rem;
    }
}