#root {
  margin: 0 auto;
  padding: 2rem;
  height: 100%;
  /* background-image: linear-gradient(var(--background-alt-light), var(--background)); */
  /* background-image: url('../assets/background.jpg'); */
}

body {
    background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,0)),
    url('../assets/background4.png');
  background-size:cover;
  background-position: center; 

}
p, div {
  font-size: 16pt;
}