#root {
  margin: 0 auto;
  padding: clamp(5px, 2vw, 15px);
  height: 100%;
  /* background-image: linear-gradient(var(--background-alt-light), var(--background)); */
  /* background-image: url('../assets/background.jpg'); */
}

.pixel-border {
    mask: conic-gradient(at var(--border-thickness) var(--border-thickness), #000 270deg, rgba(0, 0, 0, 0) 0) 0 0 / calc(100% - var(--border-thickness)) calc(100% - var(--border-thickness));
    border: 3px solid var(--background);
}

h1 {
  margin-bottom: min(3rem, 1vw);
}
body {
  background: linear-gradient(rgba(255,255,255,0.1), rgba(255,255,255,0.1)),
  url('../assets/background6.png');
  background-size:cover;
  background-position: center; 
  width: 100vw;
}

p, div, li {
  color: rgba(255,255,255,0.85);
  font-size: 16pt;
}