.desktop {
    display: flex;
    flex-direction: row;
    gap: 100px;
}

.desktop-main {
    margin-left: clamp(10px, 4vw, 2rem);
}

.icons {
    height: 100%;
    user-select: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px; 
}

.fullscreen-placeholder {
    margin-top: 75px;
    min-width: 85vw;
    width: 100%;
    min-height: 78vh;
}

@media (max-width: 1080px) {
    .fullscreen-placeholder {
        width: 40vw;
        min-width: 40vw;
    }    
}

h1 {
    margin-top: 0rem;
}

.page-title {
    margin:0rem;
}