.icon {
    width: min-content;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-weight: bold;
    align-items: center;

}

.icon:hover {
    cursor: pointer;
}

.icon i {
    font-size: clamp(16px, 10vw, 48px);
    margin-bottom: 2px;
}

@media(max-width: 1080px) {
    
    .icon {
        font-size: medium;
    }
}