.question-title {
	color: var(--color-accent-5);
	font-size: large;
}

.question-title+p {
	font-size:large;
	margin-bottom: 1rem;
}
ul {
	margin-left: 1rem;
	margin-top: 0rem;
}

li {
	font-size: large !important;
}
a {
	color: var(--color-accent-1);
	text-decoration: underline;
}