@font-face {
  font-family: w95fa;
  src: url('./assets/fonts/W95FA.otf');
}
:root {
  font-family: "w95fa", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --background: #0d0c1d;      /* deep abyssal blue-black */
  --background-alt: rgb(48, 48, 67);  /* slatey gray-blue for panels/windows */
  --background-alt-light: rgb(31, 31, 73);
  --background-very-light: #a8adb2;
  
  /* Text */
 /* On-surface text */
  --text-primary: #f2f2f5;       /* main text */
  --on-surface-muted: #c4c4d2; /* secondary text */
  --text-dark: #282831;
  /* Interactive */
  --surface-hover: rgba(255, 255, 255, 0.05);
  --surface-active: rgba(255, 255, 255, 0.1);
  
  /* Borders / dividers */
  --surface-border: rgba(255, 255, 255, 0.08);
    
   /* Accents from skyline and stars */
  --color-accent-1: #ff9c5f; /* warm orange lights */
  --color-accent-2: #cf455f; /* neon pink/purple glow */
  --color-accent-5: #d6618a; /* neon pink/purple glow */
  --color-accent-3: #4c44da; /* electric violet */
  --color-accent-4: #55beff; /* cyan-teal stars */
 
  --pm-large: 4rem;
  --pm-md: 3rem;
  --pm-sm: 1rem;
  --pm-xsm: 0.5rem;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  overflow: hidden;
  height: 100vh;  
  margin: 0;       
  padding: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  font-family: inherit;
  padding: 5px;
  font-size: 16pt;
  background-color: var(--background-alt);
}

button:focus,
button:focus-visible {
  outline: 1px auto var(--text-primary);
}

.desktop-container {
  display: grid;
  grid-template-columns: 75px 1px auto;
  grid-template-rows: 1fr;
  margin-bottom: 10vh;
}

* {
   color: var(--text-primary);
}

@media (max-width: 1080px) {
  #root {
    overflow-y: auto;
  }
}